@use "./variables";

// NAVIGATION SECTION FOR BLOG PAGE

.nav-blog {
  height: 40vh;
}

// MAIN COLLECTIONS SECTION FOR BLOG PAGE

.collection {
  background-color: variables.$b-one;
  padding-bottom: 100px;
  width: 70%;
  border-bottom: 10px solid variables.$piccolor;
  border-right: 10px solid variables.$piccolor;
  position: relative;
}

.collection-img img {
  width: 100%;
  display: block;
  box-shadow: 10px 15px 0 0 variables.$piccolor;
  margin-top: -100px;
}

.collection-text {
  padding-top: 50px;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 28px;
  letter-spacing: 2px;
}

.collection .collection-text h2,
.collection-text p {
  color: variables.$w-one;
}

// MISSION SECTION OF THE MAIN BLOG SECTION

.collection-mission {
  display: flex;
  justify-content: space-between;
}

.mission {
  width: 20%;
}

.missions-background-div {
  background-color: variables.$b-one;
}

// MISSION IMAGE
.mission-img {
  margin-top: 50px;
  background-color: variables.$b-one;
  position: relative;
}

.mission-img img {
  width: 100%;
  margin-top: -10px;
  margin-left: 10px;
}

// MISSION TEXT
.mission-text {
  padding: 20px 20px 20px 10px;
}

.mission-text h2,
.mission-text p,
.mission-text ul li {
  color: variables.$w-one;
}

.mission-text p {
  line-height: 28px;
  letter-spacing: 2px;
}

.mission-text ul {
  padding-left: 20px;
  letter-spacing: 2px;
  line-height: 30px;
}

// COMMENTS SECTION FOR BLOG PAGE

.comments {
  padding-top: 100px;
  padding-right: 30%;
}

.comments h2 {
  padding-bottom: 50px;
}

.comments p {
  line-height: 28px;
  color: variables.$b-two;
  letter-spacing: 2px;
}

.comment-one,
.comment-two {
  display: flex;
  padding-bottom: 50px;
}

.comment-one-text,
.comment-two-text {
  padding-left: 20px;
}

.comment-one-text h5,
.comment-two-text h5 {
  margin: 0;
  letter-spacing: 2px;
}

// MESSAGE SECTION FOR BLOG PAGE

.message-section {
  padding-bottom: 100px;
  padding-right: 30%;
}

.name-email {
  display: flex;
  padding-bottom: 20px;
}

input {
  width: 100%;
  background-color: variables.$secondary;
  border: none;
  border-bottom: 1px solid variables.$piccolor;
}

input[id="name"] {
  margin-right: 40px;
  padding: 20px;
}

textarea {
  width: 100%;
  height: 20vh;
  background-color: variables.$secondary;

  border: 1px solid variables.$piccolor;
  padding: 40px 0 0 20px;
  margin-bottom: 40px;
}

.message-box button {
  width: 100%;
  text-align: center;
  background-color: variables.$primary;
  color: variables.$w-one;
  padding: 10px 0 15px 0;
}
