@use "./variables";

// MEDIA QUERY MAX WIDTH 1450px

@media (max-width: 1450px) {
  .mission-text p,
  .mission-text ul li {
    font-size: 0.8rem;
  }
}

// MEDIA QUERY MAX WIDTH 1130px
@media (max-width: 1130px) {
  .collection-mission {
    flex-direction: column;
  }

  .collection {
    width: 100%;
    border-right: 0;
    margin-bottom: 100px;
  }

  .collection-img {
    margin-right: 10%;
  }

  .collection-text,
  .collection-text h4 {
    font-size: 0.8rem;
  }

  // MISSION SECTION

  .missions-background-div {
    display: flex;
    width: 90%;
    // justify-content: center;
    margin: 0 5%;
  }

  .mission {
    width: 100%;
  }

  .mission-img {
    margin: 0;
    padding: 0;
  }

  .mission-img img {
    margin: 0;
    display: block;
    width: 260px;
    margin-top: -20px;
    margin-left: -20px;
  }

  .mission-text h2 {
    font-size: 1.2rem;
  }

  //   COMMENT SECTION

  .comments {
    padding: 100px 10%;
  }

  //   MESSAGE SECTION

  .message-section {
    padding-right: 0;
  }
}

@media (max-width: 800px) {
  // MISSION SECTION

  .missions-background-div {
    flex-direction: column;
  }

  .mission-img {
    height: 30vh;
    overflow: hidden;
  }

  .mission-img img {
    margin: 0;
    width: 100%;
  }
}

// MEDIA QUERY MAX WIDTH 700PX
@media (max-width: 700px) {
  // NAVIGATION SECTION

  .nav-blog {
    height: 35vh;
  }

  // COLLECTION SECTION

  .collection-img img {
    box-shadow: 0 15px 0 0 variables.$piccolor;
    width: 111%;
  }

  // COMMENT SECTION

  .comments {
    padding: 100px 0;
    font-size: 0.8rem;
  }

  .comments h2 {
    padding-bottom: 30px;
  }

  .comment-one,
  .comment-two {
    flex-direction: column;
  }
  .comment-one-text,
  .comment-two-text {
    padding-left: 0;
  }

  .img-container {
    margin-bottom: 20px;
  }

  // MESSAGE BOX SECITON

  .message-section {
    font-size: 0.8rem;
  }

  .name-email {
    flex-direction: column;
  }

  .name-email input[id="email"] {
    padding: 20px;
  }

  .name-email input[id="name"] {
    margin-bottom: 20px;
  }

  .message-box button {
    font-size: 1.2rem;
  }
}
