@use "./variables";

//************** NAVIGATION SECTION FOR CONTACT PAGE*****************

.nav-contact .wrapper h1 {
  padding-top: 100px;
}

.nav-contact {
  height: 40vh;
}

// ************MAIN CONTACT SECTION FOR CONTACT PAGE******************

.contact-section .wrapper {
  display: flex;
  padding-bottom: 100px;
  position: relative;
}

// ****************MESSAGE BOX SECTION*********************

.contact-section .name-email input[id="name"],
.contact-section .name-email input[id="email"],
.contact-section textarea[id="message"] {
  background-color: variables.$b-one;
  color: variables.$w-one;
}

.name-email {
  padding-bottom: 40px;
}

.contact-section .message-box {
  width: 70%;
  background-color: variables.$b-one;
  padding: 50px 40px;
  box-shadow: 15px 15px 0 0px variables.$piccolor;
  margin-top: -100px;
  margin-left: -50px;
}

.contact-section textarea[id="message"] {
  height: 25vh;
}

.contact-section button {
  background-color: variables.$light-blue-button;
  color: variables.$primary;
  padding: 5px 0;
  transition-duration: 0.3s;
}

.contact-section button:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

// ***********CONTACT INFORMATION AND ADDRESS SECTION****************

.contact-information {
  margin-left: 10%;
  display: flex;
  position: relative;
}

.contact-information-container {
  width: fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
  margin-top: 70%;
  line-height: 30px;
}

// ICON PORTION OF CONTACT INFORMATION

svg {
  width: 25px;
  height: 25px;
  fill: variables.$b-one;
}

.contact-icons {
  display: flex;
}

.facebook-icon,
.instagram-icon,
.twitter-icon,
.whatsapp-icon {
  margin-right: 20px;
}

// EMAIL AND ADDRESS PORTION OF CONTACT INFORMATION

.contact-information p {
  margin: 0;
  letter-spacing: 2px;
  color: variables.$b-two;
}

.contact-information .info {
  padding: 20px 0;
}

// **********FOOTER SECTION OF CONTACT SECTION********************

.contact-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
