@use "./variables";

// * {
//   border: 1px solid purple;
// }

//  ************MEDIA QUERY MAX WIDTH 1200PX****************

@media (max-width: 1200px) {
  // MAIN SECTION OF CONTACT PAGE

  .contact-section .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-section .message-box {
    width: 100%;
  }

  .contact-section textarea[id="message"] {
    height: 20vh;
  }

  // ICON SECTION OF CONTACT INFORMATION PORTION

  .contact-information {
    text-align: center;
    margin-left: 0;
  }

  .contact-information-container {
    margin-top: 50px;
  }

  .contact-icons {
    justify-content: space-between;
  }
  .facebook-icon,
  .instagram-icon,
  .twitter-icon,
  .whatsapp-icon {
    margin-right: 0;
  }

  .contact-information .info {
    padding: 0;
  }

  // FOOTER SECTION OF CONTACT PAGE

  .contact-footer {
    position: static;
  }
}

// ************MEDIA QUERY MAX WIDTH 700PX****************

@media (max-width: 700px) {
  // HEADER SECTION

  .contact-title {
    text-align: center;
  }

  // MESSAGE BOX SECITON

  .contact-section .message-box {
    margin-left: 0;
    box-shadow: 0 15px 0 0 variables.$piccolor;
    font-size: 0.8rem;
  }

  .contact-name-email {
    flex-direction: column;
  }

  .contact-name-email input[id="email"] {
    padding: 20px;
  }

  .contact-name-email input[id="name"] {
    margin-bottom: 20px;
  }

  .contact-section button {
    font-size: 1.2rem;
  }

  // ADDRESS SECTION

  .contact-information {
    font-size: 0.8rem;
  }

  .contact-information .info {
    padding: 0;
  }

  // FOOTER SECTION

  footer h4 {
    font-size: 0.8rem;
  }
}

@media (max-width: 340px) {
  .nav-contact .wrapper h1 {
    text-align: center;
    padding-top: 80px;
    font-size: 2rem;
  }
}
