@use "./variables";

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1260px;
}

footer {
  background-color: variables.$b-two;
  text-align: center;
  padding: 10px 0;
}

body {
  background-color: variables.$secondary;
}

@media (max-width: 700px) {
  h4,
  footer h4 {
    font-size: 0.8rem;
  }
}
