@use "./variables";

// MEDIA QUERY MAX WIDTH 1340PX

@media (max-width: 1340px) {
  // ************GALLERY SECTION *****************
  .gallery .wrapper {
    justify-items: center;
    justify-content: center;
  }

  .gallery-img img {
    padding: 20px;
  }
}

// MEDIA QUERY MAX WIDTH 1135PX

@media (max-width: 1135px) {
  //**************** HEADER SECTION*****************

  .nav-main {
    height: 35vh;
  }

  .header-img {
    display: none;
  }

  //**************** LEARN MORE SECTION ************

  .learning .wrapper {
    flex-direction: row-reverse;
  }

  .learning-img {
    padding-right: 20px;
  }

  // ************ EVENTS SECTION******************

  .events .wrapper {
    flex-direction: column;
  }

  .upcoming-events,
  .community,
  .Blog,
  .touch {
    width: 100%;
    padding-bottom: 10px;
  }

  //************ READ MORE SECTION****************
  // READ ONE
  .read-one {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .read-one .read-more-one-text {
    padding-right: 0px;
    padding-top: 20px;
    width: 70%;
  }

  .read-one .read-more-img-one {
    width: 70%;
  }

  .read-one .read-more-img-one img {
    margin-top: 0;
  }

  // READ TWO
  .read-two {
    flex-direction: column;
    align-items: center;
    // text-align: center;
  }

  .read-two .read-more-two-text {
    padding-left: 0;
    text-align: center;
    padding-top: 20px;
    width: 70%;
  }

  .read-two .read-more-img-two {
    width: 70%;
  }

  .read-two .read-more-img-two img {
    margin-bottom: 0;
  }
}

// MEDIA QUERY MAX WIDTH 950PX

@media (max-width: 950px) {
  .learning {
    font-size: 0.8rem;
  }

  .learning .wrapper {
    flex-direction: column-reverse;
  }

  .learning-img {
    display: flex;
    justify-content: center;
    padding-right: 0;
    margin-bottom: 20px;
  }

  .learning-text {
    text-align: center;
  }

  .learning .learning-text p {
    margin: 20px 5%;
  }

  .learning .learning-text button {
    font-size: 1.2rem;
  }

  .events {
    font-size: 0.8rem;
  }

  .read-one,
  .read-two {
    font-size: 0.8rem;
  }

  .read-more button {
    font-size: 1.2rem;
  }

  .bottom-img {
    height: 30vh;
  }

  .search {
    font-size: 0.8rem;
  }

  .search button {
    font-size: 1.2rem;
  }
}

// MEDIA QUERY

@media (max-width: 630px) {
  .nav-main .wrapper h1 {
    text-align: center;
    padding-top: 130px;
  }
}

// MEDIA QUERY

@media (max-width: 325px) {
  .nav-main {
    height: 40vh;
  }
}
