@use "./variables";

// * {
//   border: 1px solid pink;
// }

//************** NAVIGATION SECTION FOR HOME PAGE *****************

.nav-main h1 {
  padding-bottom: 50px;
}

.header-img {
  position: relative;
}

.header-img img {
  width: 55%;
  margin-bottom: -125px;
}

//************** LEARNING SECTION WITHIN MAIN SECTION *****************

.learning {
  padding-bottom: 100px;
  margin-top: 12%;
}

.learning .wrapper {
  display: flex;
  margin-top: 30px;
}

.learning-img img {
  box-shadow: -15px 15px 0 0px variables.$piccolor;
}

.learning .learning-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.learning .learning-text p {
  width: 90%;
}

.learning .learning-text button {
  width: fit-content;
  padding: 5px 35px 10px 35px;
  color: variables.$w-one;
  background-color: variables.$primary;
}

//**************  GALLERY SECTION WITHIN MAIN SECTION**************

.gallery {
  background-color: variables.$b-one;
  padding: 100px 0;
}

.gallery img {
  display: block;
  width: 30%;
}

.gallery .wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

//***************** EVENT SECTION WITHIN MAIN SECTION*******************

.events {
  padding: 100px 0;
}

.events .icon {
  padding-right: 15px;
}

.events .icon img {
  width: 30px;
  height: 30px;
  justify-content: center;
  padding: 3px;
}

.icon-one,
.icon-two,
.icon-three,
.icon-four {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: variables.$piccolor;
  padding: 5px;
  border-radius: 50%;
}

.events .wrapper {
  display: flex;
  flex-wrap: wrap;
}

.upcoming-events,
.community,
.Blog,
.touch {
  width: 50%;
  display: flex;
}

//***************READ MORE SECTION WITHIN MAIN SECTION************************

.read-more {
  background-color: variables.$b-one;
  padding: 50px 0;
}

// READ ONE SECTION

.read-one {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.read-one .read-more-img-one {
  width: 45%;
  position: relative;
}

.read-one .read-more-img-one img {
  width: 100%;
  box-shadow: 10px 10px 0 0 variables.$piccolor;
  margin-top: -70px;
}
.read-one .read-more-one-text {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10%;
}

// READ TWO SECTION

.read-two {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.read-more h2,
.read-more p {
  color: variables.$w-one;
}

.read-more button {
  width: fit-content;
  padding: 5px 35px 10px 35px;
  color: variables.$b-two;
  background-color: variables.$light-blue-button;
}

.read-two .read-more-img-two {
  width: 45%;
  position: relative;
}

.read-two .read-more-img-two img {
  width: 100%;
  box-shadow: -10px 10px 0 0 variables.$piccolor;
  margin-bottom: -70px;
}
.read-two .read-more-two-text {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  padding-left: 10%;
}

//************* BOTTOM BACKGROUND SECTION WITHIN MAIN SECTION*****************

.bottom-img {
  background-image: url(../textilee-assets/banner.jpg);
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
}

//************ SEARCH SECTION WITHIN MAIN SECTION ****************************

.search {
  padding: 100px 0;
}

.search .wrapper {
  text-align: center;
}

.search p {
  padding-bottom: 30px;
}

.search button {
  width: fit-content;
  padding: 5px 35px 10px 35px;
  color: variables.$w-one;
  background-color: variables.$primary;
}
