@use "./variables";

// MEDIA QUERY FOR JAVASCRIPT FUNCTIONS
@media (max-width: 680px) {
  .hamburger-menu {
    display: block;
    padding-top: 25px;
  }

  .hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  .hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }

  .main-menu {
    position: fixed;
    left: 100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: variables.$secondary;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .main-menu li {
    margin: 16px 0;
  }

  .main-menu.active {
    left: 0;
  }
}
