@use "./variables";

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html {
  /* if we set our root element font-size to 125%, then 1 rem = 20px */
  font-size: 125%;
}

body {
  font-family: variables.$bodyFont;
  font-size: 1rem;
  color: variables.$primary;
}

h1,
h2,
h3,
h4 {
  font-family: variables.$headingFont;
  font-weight: normal;
  color: variables.$primary;
  margin: 0;
}

a {
  font-family: variables.$bodyFont;
  font-weight: bold;
  line-height: 1.6rem;
  letter-spacing: 1.4px;
}

footer h4,
h4 {
  font-family: variables.$bodyFont;
  font-weight: normal;
  font-size: 1rem;
  color: variables.$w-one;
}

button {
  font-family: variables.$headingFont;
  justify-content: center;
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: 1.4px;
  border: none;
}
