// colours!
$primary: #1a315c;
$piccolor: #0cadc0;
$secondary: #ccedfb;
$b-one: #1e1713;
$b-two: #161515;
$w-one: #ffffff;

// Font Families

$headingFont: "Pacifico", cursive;
$bodyFont: "Lato", sans-serif;
$navFont: "Lato", sans-serif;

// Font Size
$baseFontSize: 1rem;
