@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 3em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hamburger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.main-menu {
  padding-top: 10px;
}

.nav-main {
  background: url("../textilee-assets/header-home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.nav-main h3 {
  display: inline-block;
  padding-top: 25px;
  font-size: 1.5rem;
}

.nav-main a:link,
.nav-main a:visited {
  text-decoration: none;
  color: #1a315c;
}

.nav-main a:hover,
.nav-main a:active {
  color: #1a315c;
  padding-bottom: 5px;
  border-bottom: 3px solid #0cadc0;
}

.nav-main .wrapper h1 {
  padding-top: 50px;
}

.nav-main .wrapper h1 span {
  display: block;
}

.nav-main .wrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-main .wrapper nav ul li {
  list-style: none;
  padding: 0 20px;
  text-transform: uppercase;
  color: #1a315c;
}

.nav-main .wrapper .main-nav-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-contact {
  background: url("../textilee-assets/contact-header.jpg");
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
}
.nav-contact h3 {
  display: inline-block;
  padding-top: 25px;
  font-size: 1.5rem;
}

.nav-contact a:link,
.nav-contact a:visited {
  text-decoration: none;
  color: #1a315c;
}

.nav-contact a:hover,
.nav-contact a:active {
  color: #1a315c;
  padding-bottom: 5px;
  border-bottom: 3px solid #0cadc0;
}

.nav-contact .wrapper h1 {
  padding-top: 50px;
}

.nav-contact .wrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-contact .wrapper nav ul li {
  list-style: none;
  padding: 0 20px;
  text-transform: uppercase;
  color: #1a315c;
}

.nav-contact .wrapper .header-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-blog {
  background: url("../textilee-assets/blog-header.jpg");
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
}
.nav-blog h3 {
  display: inline-block;
  padding-top: 25px;
  font-size: 1.5rem;
}

.nav-blog a:link,
.nav-blog a:visited {
  text-decoration: none;
  color: #1a315c;
}

.nav-blog a:hover,
.nav-blog a:active {
  color: #1a315c;
  padding-bottom: 5px;
  border-bottom: 3px solid #0cadc0;
}

.nav-blog .wrapper h1 {
  padding-top: 50px;
}

.nav-blog .wrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-blog .wrapper nav ul li {
  list-style: none;
  padding: 0 20px;
  text-transform: uppercase;
  color: #1a315c;
}

.nav-blog .wrapper .header-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1260px;
}

footer {
  background-color: #161515;
  text-align: center;
  padding: 10px 0;
}

body {
  background-color: #ccedfb;
}

html {
  /* if we set our root element font-size to 125%, then 1 rem = 20px */
  font-size: 125%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #1a315c;
}

h1,
h2,
h3,
h4 {
  font-family: "Pacifico", cursive;
  font-weight: normal;
  color: #1a315c;
  margin: 0;
}

a {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  line-height: 1.6rem;
  letter-spacing: 1.4px;
}

footer h4,
h4 {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  color: #ffffff;
}

button {
  font-family: "Pacifico", cursive;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: 1.4px;
  border: none;
}

.nav-blog {
  height: 40vh;
}

.collection {
  background-color: #21404f;
  padding-bottom: 100px;
  width: 70%;
  border-bottom: 10px solid #0cadc0;
  border-right: 10px solid #0cadc0;
  position: relative;
}

.collection-img img {
  width: 100%;
  display: block;
  -webkit-box-shadow: 10px 15px 0 0 #0cadc0;
          box-shadow: 10px 15px 0 0 #0cadc0;
  margin-top: -100px;
}

.collection-text {
  padding-top: 50px;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 28px;
}

.collection .collection-text h2,
.collection-text p {
  color: #ffffff;
}

.collection-mission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mission {
  width: 20%;
}

.missions-background-div {
  background-color: #21404f;
}

.mission-img {
  margin-top: 50px;
  background-color: #21404f;
  position: relative;
}

.mission-img img {
  width: 100%;
  margin-top: -10px;
  margin-left: 10px;
}

.mission-text {
  padding: 20px 20px 20px 10px;
}

.mission-text h2,
.mission-text p,
.mission-text ul li {
  color: #ffffff;
}

.mission-text p {
  line-height: 28px;
}

.mission-text ul {
  padding-left: 20px;
}

.comments {
  padding-top: 100px;
  padding-right: 30%;
}

.comments h2 {
  padding-bottom: 50px;
}

.comments p {
  line-height: 28px;
}

.comment-one,
.comment-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
}

.comment-one-text,
.comment-two-text {
  padding-left: 20px;
}

.comment-one-text h5,
.comment-two-text h5 {
  margin: 0;
}

.message-section {
  padding-bottom: 100px;
  padding-right: 30%;
}

.name-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
}

input {
  width: 100%;
  background-color: #ccedfb;
  border: none;
  border-bottom: 1px solid #0cadc0;
}

input[id=name] {
  margin-right: 40px;
  padding: 20px;
}

textarea {
  width: 100%;
  height: 20vh;
  background-color: #ccedfb;
  border: 1px solid #0cadc0;
  padding: 40px 0 0 20px;
  margin-bottom: 40px;
}

.message-box button {
  width: 100%;
  text-align: center;
  background-color: #1a315c;
  color: #ffffff;
  padding: 10px 0 15px 0;
}

.nav-contact .wrapper h1 {
  padding-top: 100px;
}

.nav-contact {
  height: 40vh;
}

.contact-section .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 100px;
  position: relative;
}

.contact-section .name-email input[id=name],
.contact-section .name-email input[id=email],
.contact-section textarea[id=message] {
  background-color: #21404f;
  color: #ffffff;
}

.name-email {
  padding-bottom: 40px;
}

.contact-section .message-box {
  width: 70%;
  background-color: #21404f;
  padding: 50px 40px;
  -webkit-box-shadow: 15px 15px 0 0px #0cadc0;
          box-shadow: 15px 15px 0 0px #0cadc0;
  margin-top: -100px;
  margin-left: -50px;
}

.contact-section textarea[id=message] {
  height: 25vh;
}

.contact-section button {
  background-color: #c6d9fb;
  color: #1a315c;
  padding: 5px 0;
}

.contact-information {
  margin-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.contact-information-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 70%;
  line-height: 30px;
}

svg {
  width: 25px;
  height: 25px;
  fill: #21404f;
}

.contact-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.facebook-icon,
.instagram-icon,
.twitter-icon,
.whatsapp-icon {
  margin-right: 20px;
}

.contact-information p {
  margin: 0;
}

.contact-information .info {
  padding-bottom: 30px;
}

.contact-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.nav-main h1 {
  padding-bottom: 50px;
}

.header-img {
  position: relative;
}

.header-img img {
  width: 55%;
  margin-bottom: -125px;
}

.learning {
  padding-bottom: 100px;
  margin-top: 12%;
}

.learning .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.learning-img img {
  -webkit-box-shadow: -15px 15px 0 0px #0cadc0;
          box-shadow: -15px 15px 0 0px #0cadc0;
}

.learning .learning-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.learning .learning-text p {
  width: 90%;
  line-height: 28px;
}

.learning .learning-text button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 35px 10px 35px;
  color: #ffffff;
  background-color: #1a315c;
}

.gallery {
  background-color: #21404f;
  padding: 100px 0;
}

.gallery img {
  display: block;
}

.gallery .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.events {
  padding: 100px 0;
}

.events p {
  line-height: 28px;
}

.events .icon {
  padding-right: 15px;
}

.events .icon img {
  width: 30px;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3px;
}

.icon-one,
.icon-two,
.icon-three,
.icon-four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #0cadc0;
  padding: 5px;
  border-radius: 50%;
}

.events .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.upcoming-events,
.community,
.Blog,
.touch {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.read-more {
  background-color: #21404f;
  padding: 50px 0;
}

.read-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.read-one .read-more-img-one {
  width: 45%;
  position: relative;
}

.read-one .read-more-img-one img {
  width: 100%;
  -webkit-box-shadow: 10px 10px 0 0 #0cadc0;
          box-shadow: 10px 10px 0 0 #0cadc0;
  margin-top: -70px;
}

.read-one .read-more-one-text {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 10%;
}

.read-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.read-more p {
  line-height: 28px;
}

.read-more h2,
.read-more p {
  color: #ffffff;
}

.read-more button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 35px 10px 35px;
  color: #161515;
  background-color: #c6d9fb;
}

.read-two .read-more-img-two {
  width: 45%;
  position: relative;
}

.read-two .read-more-img-two img {
  width: 100%;
  -webkit-box-shadow: -10px 10px 0 0 #0cadc0;
          box-shadow: -10px 10px 0 0 #0cadc0;
  margin-bottom: -70px;
}

.read-two .read-more-two-text {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: right;
  padding-left: 10%;
}

.bottom-img {
  background-image: url(../textilee-assets/banner.jpg);
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.search {
  padding: 100px 0;
}

.search .wrapper {
  text-align: center;
}

.search p {
  padding-bottom: 30px;
  line-height: 28px;
}

.search button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 35px 10px 35px;
  color: #ffffff;
  background-color: #1a315c;
}

@media (max-width: 1450px) {
  .mission-text p,
.mission-text ul li {
    font-size: 0.8rem;
  }
}
@media (max-width: 1130px) {
  .collection-mission {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .collection {
    width: 100%;
    border-right: 0;
    margin-bottom: 100px;
  }
  .collection-img {
    margin-right: 10%;
  }
  .collection-text,
.collection-text h4 {
    font-size: 0.8rem;
  }
  .missions-background-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin: 0 5%;
  }
  .mission {
    width: 100%;
  }
  .mission-img {
    margin: 0;
    padding: 0;
  }
  .mission-img img {
    margin: 0;
    display: block;
    width: 260px;
    margin-top: -20px;
    margin-left: -20px;
  }
  .mission-text h2 {
    font-size: 1.2rem;
  }
  .comments {
    padding: 100px 10%;
  }
  .message-section {
    padding-right: 0;
  }
}
@media (max-width: 800px) {
  .missions-background-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mission-img {
    height: 30vh;
    overflow: hidden;
  }
  .mission-img img {
    margin: 0;
    width: 100%;
  }
}
@media (max-width: 700px) {
  .nav-blog {
    height: 35vh;
  }
  .collection-img img {
    -webkit-box-shadow: 0 15px 0 0 #0cadc0;
            box-shadow: 0 15px 0 0 #0cadc0;
    width: 111%;
  }
  .comments {
    padding: 100px 0;
    font-size: 0.8rem;
  }
  .comments h2 {
    padding-bottom: 30px;
  }
  .comment-one,
.comment-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .comment-one-text,
.comment-two-text {
    padding-left: 0;
  }
  .img-container {
    margin-bottom: 20px;
  }
  .message-section {
    font-size: 0.8rem;
  }
  .name-email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .name-email input[id=email] {
    padding: 20px;
  }
  .name-email input[id=name] {
    margin-bottom: 20px;
  }
  .message-box button {
    font-size: 1.2rem;
  }
}
@media (max-width: 1200px) {
  .contact-section .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-section .message-box {
    width: 100%;
  }
  .contact-section textarea[id=message] {
    height: 20vh;
  }
  .contact-information {
    text-align: center;
    margin-left: 0;
  }
  .contact-information-container {
    margin-top: 50px;
  }
  .contact-icons {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .facebook-icon,
.instagram-icon,
.twitter-icon,
.whatsapp-icon {
    margin-right: 0;
  }
  .contact-information .info {
    padding: 0;
  }
  .contact-footer {
    position: static;
  }
}
@media (max-width: 700px) {
  .contact-title {
    text-align: center;
  }
  .contact-section .message-box {
    margin-left: 0;
    -webkit-box-shadow: 0 15px 0 0 #0cadc0;
            box-shadow: 0 15px 0 0 #0cadc0;
    font-size: 0.8rem;
  }
  .contact-name-email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-name-email input[id=email] {
    padding: 20px;
  }
  .contact-name-email input[id=name] {
    margin-bottom: 20px;
  }
  .contact-section button {
    font-size: 1.2rem;
  }
  .contact-information {
    font-size: 0.8rem;
  }
  .contact-information .info {
    padding: 0;
  }
}
@media (max-width: 1340px) {
  .gallery .wrapper {
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gallery-img img {
    padding: 20px;
  }
}
@media (max-width: 1135px) {
  .nav-main {
    height: 35vh;
  }
  .header-img {
    display: none;
  }
  .learning {
    margin-top: 8%;
  }
  .learning .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .learning-img {
    padding-right: 20px;
  }
  .events .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .upcoming-events,
.community,
.Blog,
.touch {
    width: 100%;
    padding-bottom: 10px;
  }
  .read-one {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .read-one .read-more-one-text {
    padding-right: 0px;
    padding-top: 20px;
    width: 70%;
  }
  .read-one .read-more-img-one {
    width: 70%;
  }
  .read-one .read-more-img-one img {
    margin-top: 0;
  }
  .read-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .read-two .read-more-two-text {
    padding-left: 0;
    text-align: center;
    padding-top: 20px;
    width: 70%;
  }
  .read-two .read-more-img-two {
    width: 70%;
  }
  .read-two .read-more-img-two img {
    margin-bottom: 0;
  }
}
@media (max-width: 950px) {
  .learning {
    font-size: 0.8rem;
  }
  .learning .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .learning-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 0;
    margin-bottom: 20px;
  }
  .learning-text {
    text-align: center;
  }
  .learning .learning-text p {
    margin: 20px 5%;
  }
  .learning .learning-text button {
    font-size: 1.2rem;
  }
  .events {
    font-size: 0.8rem;
  }
  .read-one,
.read-two {
    font-size: 0.8rem;
  }
  .read-more button {
    font-size: 1.2rem;
  }
  .bottom-img {
    height: 30vh;
  }
  .search {
    font-size: 0.8rem;
  }
  .search button {
    font-size: 1.2rem;
  }
}
@media (max-width: 630px) {
  .nav-main .wrapper h1 {
    text-align: center;
    padding-top: 130px;
  }
}
@media (max-width: 325px) {
  .nav-main {
    height: 40vh;
  }
}
@media (max-width: 680px) {
  .main-nav-section nav {
    display: none;
  }
  .hamburger-menu svg {
    width: 90px;
    height: 80px;
  }
  .hamburger-menu svg line {
    stroke: #21404f;
  }
  .hamburger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-blog nav,
.nav-contact nav {
    display: none;
  }
}